// starting from blog - main ++++++=========+++++++++==========

.blog-main aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    padding: 100px 0;
    // z-index: 1;
    
    .about-posts-text {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 900px;
        background-color: #fff;
        width: 60%;
        padding: 20px;
        margin-right: 20px;

        h3 {
            margin: 10px 0;
        }
    }
}

.about-posts-text p {
  padding-left: 2px;
}

.about-image {
    display: inline-block;
    // width: 100%;
    // position: relative;
    // top: 0;
    // z-index: 1;
}

.mission-comments-form {
    width: 60%;
}

.mission {
    position: relative;
    top: -250px;
}

.mission-image {
    display: inline-block;
    position: relative;
    z-index: 2;
    right: -15px;

    &::after {
        @include yellowShadow(100%, 15px, -15px);
    }
}

.mission-text {
    width: 80%; 
    padding: 60px 20px 60px 50px;
    border-left: 5px solid $yellow;
    border-bottom: 5px solid $yellow;
    
    h2, p {
        padding: 15px 0;
    }
}

.comments h3 {
    margin-top: -180px;
    margin-bottom: 30px;
}

.comments {
    width: 85%; 
    padding: 0 50px;

    li {
        padding: 40px 0;
         display: flex;
         align-items: flex-start;
        justify-content: space-between;

        .comment-text {
            width: 85%;
            padding-left: 10px;
        }
    }
}

// styling for both forms ++++++===========+++++++++===========+++++++++=

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .name-email {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 40px 0 20px;

        .user {
            flex-basis: 46%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

label {
    padding-left: 30px;
}

input[type='text'] {
    min-width: 200px;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $lightGreen;
}

textarea {
    
    background-color: transparent;
    border: 0;
    border: 2px solid $lightGreen;
    resize: none;
    padding: 40px;
    margin: 10px 0;
    max-height: 25vh;
}

button {
    padding: 12px 0 8px;
    margin: 30px 0;
}




