
//general styles for blog and contact pages ++++=======++++++=======+++++++

.blog-con {
    display: flex;
    justify-content: space-between;
}

// starting from blog - main ++++++=========+++++++++==========

.blog-main {
    background-color: $offWhite;
    justify-content: flex-end;
}

.about-posts {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
    justify-content: flex-start;
    width: calc(100% / 3);
    max-width: 430px;
    height: 100%;
    margin: 100px 50px;

    h3 {
        margin: 30px 0 10px;
    }
}

.about-posts-text {
    padding: 25px;
}

.about-posts-text p {
  padding-left: 2px;
  padding-bottom: 20px;
}

.about-image {
    width: 150%;
    // display: inline-block;
    position: relative;
    top: -20px;
    right: 100px;
    // z-index: 10;
    // opacity: 0;
}

// mission statement section ++++=====+++++++=====+++++++=====

.mission-comments-form {
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mission {
    position: relative;
    top: -230px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 5px solid $yellow;
    width: 90%;
}

.mission-image {
    // width: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -15px;
    right: -10px;

    &::after {
        @include yellowShadow(100%, 15px, -13px);
    }
}

.mission-text {
    width: 80%; 
    padding: 60px 20px 25px 60px;
    border-bottom: 5px solid $yellow;
    p {
        padding: 15px 0;
        &:first-of-type {
            padding: 0 0 30px;
        }
    }
}

.mission-text h2{
    padding: 15px 0 0;
}

.comments h3 {
    margin-top: -180px;
    margin-bottom: 30px;
}

.comments {
    width: 85%; 
    padding: 0 50px;

    li {
        padding: 40px 0;
         display: flex;
         align-items: flex-start;
        justify-content: space-between;

        .comment-text {
            width: 85%;
            padding-left: 10px;
        }
    }
}

// styling for both forms ++++++===========+++++++++===========+++++++++=

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .name-email {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 40px 0 20px;

        .user {
            flex-basis: 46%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

label {
    padding-left: 30px;
}

input[type='text'] {
    min-width: 200px;
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $lightGreen;
}

textarea {
    background-color: transparent;
    border: 0;
    border: 2px solid $lightGreen;
    resize: none;
    padding: 50px 30px;
    margin: 10px 0;
    max-height: 30vh;
}

button {
    padding: 12px 0 8px;
    margin: 40px 0;
}




