
// contact page header +++++++++=========++++++++++=========

.con-header {
    background-image: url('../assets/contact-header-1.jpg');
    background-position: bottom;
}

// contact main +++++++++=========++++++++++=========

.con-main {
    background-color: $offWhite;

    .con {
        align-items: center;
    }
}

.contact-info {
    width: 25%;
    margin: 50px 0;

    .socials {
        display: flex;

        li {
            padding-right: 25px;
        }
    }
}

.socials a:hover,
.socials a:focus {
    color: darken($lightGreen, 10);
}


.contact-email {
    display: inline-block;
    padding: 10px 0;
    margin: 15px 0 15px 2px;
    transition: all 200ms;

    &:hover,
    &:focus {
        color: darken($lightGreen, 10);
    }
}

// getting every part of the address 

.address span {
    display: block;
}

// contact form  ++++++========++++++++========

.contact-form {
    width: 75%;
    margin: -50px 0;
    
    .fieldset-container {
        position: relative;
        z-index: 1;
        top: -210px;
        right: -50px;

        .user {
            padding-bottom: 18px;
        }
    }
}

// creating the yellow shadow box

.shadow-box-form {
    background-color: #fff;
    padding: 50px 60px 20px;

    &::after {
        @include yellowShadow(98%, 30px, -20px)
    }

    textarea {
        min-height: 26vh;
    }
}
