
.wrapper {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

// both styles of nav +++++++=========++++++++++==========

.home-header nav,
.nav-container {
    display: flex;
    justify-content: flex-start;
    padding: 30px 0 15px;  
    width: 53%;
    min-width: 500px;
    align-items: flex-end;
}

ul.nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
    transition: opacity 500ms;
     
    li {
        margin: 0 18px; 
        
        a {
            padding: 10px;
        }
    } 
}

// top right nav logo 

.logo {
    margin-right: 27px;
}

// for tablet screen size

.hamburger-menu {
    position: absolute;
    top: 27px;
    right: 30px;
    color: white;
    font-size: 4rem;
    visibility: hidden; 
    transition: color 200ms;
}


.hamburger-menu:hover {
    color: $yellow;
    cursor: pointer;
}

.burger:hover ul.nav,
.burger:active ul.nav {
    opacity: 1;
}

// blog/contact nav and header general styles ++++====+++++++======

// separating mains into two main sections

.blog-con {
    display: flex;
    justify-content: space-between;
}

.nav-2 {
    background-color: #000;
}

  
.header-2 {
    min-height: 49vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    h1 {
        margin-bottom: 20px;
        width: 240px;
        margin-right: 20px;
    }
}


// general button styling ++++++++=========+++++++++==========

.button, 
button {
    border: none;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: $lightGreen;
    padding: 10px;
    transition: all 200ms;
}

.button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 48px;
}

.button:hover,
.button:focus,
button:hover,
button:focus {
    background-color: darken($lightGreen, 10);
}

// default for all images

img {
    max-width: 100%;
}

// styling for both forms ++++++===========+++++++++===========+++++++++=

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .name-email {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 40px 0 20px;

        .user {
            width: 46%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

label {
    padding-left: 30px;
}

input[type='text'],
textarea {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $lightGreen;
}

textarea {
    border: 2px solid $lightGreen;
    resize: none;
    padding: 40px 30px;
    margin: 20px 0;
    height: 20vh;
    min-height: 200px;

    &::placeholder {
        font-weight: 300;
        opacity: 1;
    }
}   

// forms button styling 

button {
    padding: 10px 0 8px;
    margin: 25px 0 35px;
}


// all footers +++=======++++++++++========++++++++++==========

footer {
    min-height: 50px;
    background-color: $black;
    @include flexCenter();
}

// for js +++++++=========+++++++++++=========++++++++++====

.capitalize span {
    text-transform: capitalize;
}