.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.home-header {
  position: relative;
  height: 80vh;
  background-image: url('../assets/home-image-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

// put contact/blog header here (cause they are styled a lil differently

.home-header nav,
.nav-container {
  display: flex;
  justify-content: flex-start;
  padding: 25px 0;  
  width: 53%;
  min-width: 500px;
  align-items: flex-end;
}

ul.nav {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: 20px;
  margin-bottom: 8px;
  transition: all 500ms;

  li a {
    padding: 10px;
  }
}

.logo {
  margin-right: 10px;
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  color: white;
  font-size: 4rem;
  visibility: hidden;
  
}


.hamburger-menu:hover {
  color: $yellow;
  cursor: pointer;
}

.burger:hover ul.nav {
      // top: 80px;
      // right: 20px;
      opacity: 1;
}



// blog/contact nav starts here ++++====+++++++======+++++++

.nav-2 {
  background-color: #000F00;
}

.layered-background {
  width: 100%;
  height: 80vh;
  background-image: url('../assets/header-box.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .home-planted-container {
    width: 40%;
    padding: 0 20px;

    h1 {
      text-align: left;
      margin: 50px auto 0;
    }
  }
}
  
// Blog and Contact header ++++=======+++++++======++++++++======

.header-2 {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

  h1 {
    margin-bottom: 50px;
    width: 240px;
    margin-right: 20px;
  }
}

.blog-header {
  background-image: url('../assets/blog-header-1.jpg');

  h1 {
    margin-bottom: 125px;
  }
}

.con-header {
  background-image: url('../assets/contact-header-1.jpg');
  background-position: bottom;
}

