@media (max-width: 1100px) {

    .blog-main {
        flex-direction: column;
        align-items: center;

        .about-posts {
            display: none;
        }
    }

    .mission-comments-form {
        top: -80px;  
        width: 100%;
        align-items: center;
 
    }
    
    .comments {
        padding: 0;

        li .comment-text {
            flex-basis: 100%;
        }
    }

    
    .blog-form {
        margin: 0;
        width: 100%;
        margin-bottom: -100px;
    }


}

@media (max-width: 920px) {

// homepage 

    .layered-background {
        background-position: center bottom;

        .home-planted-container {
            width: 100%;
            padding: 0 10px;

            h1 {
                text-align: left;
                padding-left: 20px;
            }

        }
    }

    .about .about-text {
        margin-top: 60px;
    }

    // selling points 

    .selling-points {
        padding: 100px 0 100px 20px;

        ul .selling-point {
            width: 80%;
            margin: 0;
        }
    }
    .aside {
        flex-direction: column;
        align-items: center;

        .half {
            width: 80%;

            .left {
                margin: 70px 0 30px;
            }
        }
     }   

    // founder section 
    .founder-banner {
        // background-size: contain;
        min-height: 29vh;
    }

    .founder-container {
        flex-wrap: wrap;

        .founder-text {
            flex-basis: 100%;
            text-align: right;
            margin: 10px 0;

            .button {
                margin: 0 0 0 auto;
            }
        }

    }
    
    // contact page 
    .con {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .contact-form {
        margin: 0;
        width: 90%;

        .fieldset-container {
            top: -50px;
            right: 0;
            
            .shadow-box-form {
                padding: 20px 60px;
                margin-bottom: 0;
            } 
        }
    } 
   
}
// at 600px there is white space on the right because of the nav

@media (max-width: 672px) {

    header {
        overflow: hidden;
    }

    .hamburger-menu,
    .hamburger-menu {
        visibility: initial;
    }

    ul.nav {
        position: absolute;
        top: 80px;
        right: 20px;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        opacity: 0;  
        

        li {
            display: block;
            margin-bottom: 20px;

            a {
                padding-top: 20px;
            }
        }
    }

    .home-header {
        height: 60vh;
    }
    
    .layered-background {
        background-image: none;
        height: 40vh;
        align-items: flex-start;

        .home-planted-container h1 {
            font-size: calc(4rem + 6vw);
            text-align: center;
            padding-top: 160px;
        } 
    }

    section.about {
        padding-bottom: 32px;
        h2 {
            font-size: calc(3rem + 2vw);
    
        }
    }

    .discovery-workshop img {
        width: 50%;
    }
    
    .workshop .workshop-image {
        min-width: 0;
        position: initial;

        &:after {
            position: initial;
        }
    }

    .discover-image {
        min-width: 0;
        position: initial;

        &:after {
            position: initial;
        }
    }


    .aside .half {
        width: 100%;

        .mini-wrapper {
            width: 90%;
            min-width: 0;
            margin-left: 20px;
        }

        .left {
            margin: 10px 20px 20px 0;
        }
    }  

    .founder .founder-container {
        padding: 40px;

        .founder-img {
            // position: initial;
            margin: 0 auto 30px;
        }
    }

    // gallery 

    .gallery ul {
        flex-direction: column;
        align-content: center;
        margin: 30px auto;
       

        li {
            text-align: center;
            margin: 20px 0;
            width: 90%;
        }
    } 
}