// about section - home page +++++======++++++======+++++++

img {
    max-width: 100%;
}


section.about {
    background-color: $offWhite;
    height: 70vh;
    @include flexCenter();

    .about-text {
        width: 80%;
        margin: 20px auto 0;
        p {
        margin: 20px 0 30px;
        }
    }
}

// general button styling
.button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 48px;
  text-decoration: none;
  color: $offWhite;
  font-weight: 600;
  background: $lightGreen;
  line-height: 32px;
  text-align: center;
  padding: 10px;
}

// read more buttons
.rm-button {
  margin: 0;
  width: 150px;
}

// discover-workshop section +++++====+++++======+++++====++++++===

.aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .quarter {
    width: 42%;
  }
}

.discover-text {
  text-align: right;
}

.discover-text .rm-button {
  float: right;
}

.workshop-image {
  position: relative;
}

.discover-workshop p {
  padding: 30px 0;
}


// .two-panel {
//   display: flex;

//   justify-content: space-between;
//   flex-wrap: wrap;

  // .aside {
  //   padding: 120px 0 40px;
  //   width: 45%;
  //   text-align: right;

//     p {
//       margin: 30px 0;
//     }
//   }
// }

// // flipping the right panel so the text is on top
// .aside.workshop {
//   display: flex;
//   flex-direction: column-reverse;
//   text-align: left;
// }

// .discover-image,
// .workshop-image {
//   width: 140%;
//   position: relative;
// }

// .discover-image {
//   top: -180px;
//   left: -300px;
// }
// .workshop-image {
//   bottom: -80px;
//   right:  -50px;
// }






//selling-points section +++====+++====+++====+++====++====+++====

.selling-points {
    background-color: $offWhite;
    padding: 150px 0 30px;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li.selling-point {
            width: 43%;
            position: relative;
            margin: 15px 0;
        }
    }
}

.selling-point i {
    position: absolute;
    top: -10px;
    left: -60px;
    @include flexCenter();
    background-color: $yellow;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.selling-point p {
    margin: 18px 0 40px;
}

// founder section ++++++========+++++++++=========+++++++++

.founder-banner {
    min-height: 50vh;
    background-image: url('../assets/banner-image.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    // background-attachment: fixed; 
}
.founder {
    background-color: $offWhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .founder-container { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5%;
        padding: 100px 0 10px;

        .founder-img {
            width: 30%;
        }
    }
}

.founder-text {
    width: 65%;
    text-align: left;

    h3 {
        font-size: 4.2rem;
        font-weight: 600;
    }
    
}

.founder-text p {
    margin: 25px 0 45px;
}

.founder-text .fom-button {
    margin: 0;
}