// about section - home page +++++======++++++======+++++++

img {
    max-width: 100%;
}

section.about {
    background-color: $offWhite;
    height: 70vh;
    @include flexCenter();

    .about-text {
        width: 80%;
        margin: 20px auto 0;
        p {
            margin: 20px 0 30px;
        }
    }
}

// general button styling
.button, 
button {
    border: 0;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: $lightGreen;
    padding: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 48px;
}

// read more buttons
.rm-button {
  margin: 0;
  width: 150px;
}

//general styles for blog and contact pages ++++=======++++++=======+++++++

.blog-con {
    display: flex;
    justify-content: space-between;
}

// discover-workshop section +++++====+++++======+++++====++++++===
.blog-main {
    background-color: $offWhite;
}

.aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  .quarter {
    width: 45%;

    .mini-wrapper {
        width: 70%;
        min-width: 500px;

    }
  }
}

.discover {
    align-items: center;

    .discover-text {
        text-align: right;
        display: flex;
        justify-content: right;
        margin-right: -10px;

        .rm-button {
         float: right;
       }
    }
}

.workshop  {
    align-items: flex-end;

    .right {
        margin-bottom: 18px;
    }
}


.workshop-image {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -30px;
    left: -15px;

    &::after {
        @include yellowShadow(98%, 25px, none, -18px);
    }
}
.discover-image {
    display: inline-block;
    position: relative;
    z-index: 1;
    bottom: -40px;

    &::after {
        @include yellowShadow(98%, 25px, -18px);
    }
}

.workshop-text,
.discovery-text {
    width: 80%;
}

.discover-workshop img {
    // object-fit: cover;
    width: 150%;
}

.discover-workshop p {
  padding: 30px 0;
}

//selling-points section +++====+++====+++====+++====++====+++====

.selling-points {
    background-color: $offWhite;
    padding: 140px 0 30px;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li.selling-point {
            width: 40%;
            // position: relative;
            margin: 15px 0;
        }
    }
}

.selling-point i {
    position: relative;
    top: 30px;
    left: -60px;
    background-color: $yellow;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    @include flexCenter();
}

.selling-point p {
    margin: 18px 0 40px;
}

// founder section ++++++========+++++++++=========+++++++++

.founder-banner {
    min-height: 50vh;
    background-image: url('../assets/banner-image.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    // background-attachment: fixed; 
}

.founder {
    background-color: $offWhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .founder-container { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5%;
        padding: 100px 0 10px;

        .founder-img {
            // width: 26%;
            margin-right: 30px;
            display: inline-block;
            position: relative;
            z-index: 1;

            &::after {
                @include yellowShadow(100%, 20px, none, -20px);
            }
           
        }
    }
}

// .founder-img img {
    
//     // box-shadow: 20px 20px $yellow;
// }

// .founder-img img::after {
    
// }

.founder-text {
    // margin: 20px 0;
    width: 65%;
    text-align: left;
}

.founder-text p {
    margin: 25px 0 45px;
}

.founder-text .fom-button {
    margin: 0;
}

// gallery section ++++++========++++++++========++++++++++=========++++++++

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto;

    li {
        width: calc(33% - 20px);
        // min-width: 300px;
        margin: 0 10px;
        &:first-child {
            margin-left: 0px;
        }
        &:last-child {
            margin-right: 0px;
        }
    } 
}

// footers +++=======++++++++++========++++++++++==========+++++++=

footer {
    min-height: 50px;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both
}