html {
  font-size: 62.5%;
  body {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 2rem;
  }
}

p,
.posts-text li {
  font-family: 'Roboto', sans-serif;
}

header,
.nav a {
  color: #fff;
}

.logo {
  font-size: 4.2rem;
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif; 
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    color: $yellow;
  }
}

.home-planted {
  font-size: 16.6rem;
  letter-spacing: 3px;
  margin-left: 10px;
  span {
      color: $yellow;
  }
  // opacity: 0;
}
