// general styles
html {
  font-size: 62.5%;

  body {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 2rem;
  }
}

p,
.posts-text li {
  font-family: 'Roboto', sans-serif;

}

.logo {
    font-size: 4.2rem;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif; 
}

header,
.nav a {
  color: #fff;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    color: $yellow;
  }
}

footer {
    color: #fff;
}

// home-h1 styling
.home-planted {
  font-size: 16.6rem;
  letter-spacing: 3px;

  span {
    color: $yellow;
  }
}

// about section - Home Page +++----+++----+++----+++----

// general for all section p
section p,
article p {
    line-height: 32px;

}

section.about {
    color: $black;
    text-align: center;

    h2 {
        font-size: 5.63rem;
        font-weight: 600;  
        letter-spacing: 1.3px; 
    }
}

// discover workshop section typog. +++====+++====+++====+++====+++====+++

.discover-text h3,
.workshop-text h3,
.selling-points h4 {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}



.founder-text h3 {
  font-size: 4.2rem;
  font-weight: 600;
}




