// general styles
html {
  font-size: 62.5%;

  body,
  input,
  label,
  textarea,
  button {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 2rem;
  }
}

p,
.about-posts-text li {
  font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 4.2rem;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif; 
}

a {
  text-decoration: none;
}

header,
.nav a,
button {
  color: #fff;
}

.nav a {
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    color: $yellow;
  }
}

.nav-2 .logo {
    color: #fff;
}

.header-2 {
  font-size: 8rem;
  line-height: 92px;
  font-weight: 600;
  color: $yellow;
}

footer {
    color: #fff;
}

// home-h1 styling
.home-planted {
  font-size: 16.6rem;
  letter-spacing: 3px;

  span {
    color: $yellow;
  }
}

// about section - Home Page +++----+++----+++----+++----

// general for all section p
section p,
article p,
aside p {
    line-height: 32px;

}

section.about {
    color: $black;
    text-align: center;

    h2 {
        font-size: 5.63rem;
        font-weight: 600;  
        letter-spacing: 1.3px; 
    }
}

// discover workshop section typog. +++====+++====+++====+++====+++====+++

.discover-text h3,
.workshop-text h3,
.selling-points h4 {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.founder-text h3 {
  font-size: 4.2rem;
  font-weight: 600;
}

// blog section ++++======+++++++======+++

.about-posts-text h3,
.comment-text p:first-child {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.about-posts-text ul {
  list-style: initial;
  margin: 25px;

  li {
    line-height: 32px; 
  }
}

.mission-text h2 {
  font-size: 4.3rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.mission-text p time {
    font-style: italic;
    color: $darkGreen;
    
    span {
      font-weight: bold;
    }
}

.comments h3 {
  font-size: 3.8rem;
  font-weight: 600;
}


// form typog styling +++++======+++++++=======

input[type='text'],
label {
  font-weight: 300;
  line-height: 25px;
}

button {
  letter-spacing: 1px;
}

.fieldset-container label,
.fieldset-container textarea  {
  font-family: 'Roboto', sans-serif;
}


// contact ++++++=========+++++++=========++++++++=

.socials li a {
    font-size: 2.3rem;
    color: $lightGreen;
  }

.contact-email {
  letter-spacing: 1px;
  font-size: 2.5rem;
  color: #000;
}

.address span {
  font-weight: 300;
  color: $black;
}

