a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

html body,
html input,
html label,
html textarea,
html button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

p,
.about-posts-text li {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-size: 4.2rem;
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

header,
.nav a,
button {
  color: #fff;
}

.nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav a:hover {
  color: #f8e71c;
}

.nav-2 .logo {
  color: #fff;
}

.header-2 {
  font-size: 8rem;
  line-height: 92px;
  font-weight: 600;
  color: #f8e71c;
}

footer {
  color: #fff;
}

.home-planted {
  font-size: calc(11rem + 3vw);
  letter-spacing: 3px;
}

.home-planted span {
  color: #f8e71c;
}

section p,
article p,
aside p {
  line-height: 32px;
}

section.about {
  color: #2c2c2c;
  text-align: center;
}

section.about h2 {
  font-size: 5.63rem;
  font-weight: 600;
  letter-spacing: 1.3px;
}

.discover-text h3,
.workshop-text h3,
.selling-points h4 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.founder-text h3 {
  font-size: 4.2rem;
  font-weight: 600;
}

.about-posts-text h3,
.comment-text p:first-child {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.about-posts-text span a {
  font-style: italic;
  font-weight: 600;
  color: #074115;
}

.about-posts-text ul {
  list-style: initial;
  margin: 20px 25px;
}

.about-posts-text ul li {
  line-height: 32px;
}

.mission-text h2 {
  font-size: 4.3rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.mission-text p time {
  font-style: italic;
  color: #074115;
}

.mission-text p time span {
  font-weight: 600;
}

.comments h3 {
  font-size: 3.8rem;
  font-weight: 600;
}

.comment-text p:first-child {
  color: #074115;
}

input[type='text'],
label {
  font-weight: 300;
  line-height: 25px;
}

button {
  letter-spacing: 1px;
}

.fieldset-container label,
.fieldset-container textarea {
  font-family: 'Roboto', sans-serif;
}

.socials li a {
  font-size: 2.3rem;
  color: #0e902d;
}

.contact-email {
  letter-spacing: 1px;
  font-size: 2.5rem;
  color: #000;
}

.address span {
  font-weight: 300;
  color: #2c2c2c;
}

.wrapper {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.home-header {
  position: relative;
  height: 80vh;
  background-image: url("../assets/home-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-header nav,
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  width: 53%;
  min-width: 500px;
}

ul.nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 20px;
  margin-bottom: 8px;
}

ul.nav li a {
  padding: 10px;
}

.logo {
  margin-right: 10px;
}

.nav-2 {
  background-color: #000F00;
}

.layered-background {
  width: 100%;
  height: 80vh;
  background-image: url("../assets/header-box.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.layered-background .home-planted-container {
  width: 40%;
  padding: 0 20px;
}

.layered-background .home-planted-container h1 {
  text-align: left;
  margin: 50px auto 0;
}

.header-2 {
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-2 h1 {
  margin-bottom: 50px;
  width: 240px;
  margin-right: 20px;
}

.blog-header {
  background-image: url("../assets/blog-header-1.jpg");
}

.blog-header h1 {
  margin-bottom: 125px;
}

.con-header {
  background-image: url("../assets/contact-header-1.jpg");
  background-position: bottom;
}

img {
  max-width: 100%;
}

section.about {
  background-color: #f0efed;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about .about-text {
  width: 80%;
  margin: 20px auto 0;
}

section.about .about-text p {
  margin: 20px 0 30px;
}

.button,
button {
  border: 0;
  line-height: 32px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background: #0e902d;
  padding: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 48px;
}

.rm-button {
  margin: 0;
  width: 150px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside .half {
  width: 45%;
}

.aside .half .mini-wrapper {
  width: 70%;
  min-width: 400px;
  padding: 20px 0px 15px;
}

.discover {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover .discover-text {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.discover .discover-text .rm-button {
  float: right;
}

.workshop {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.workshop .workshop-image {
  min-width: 480px;
  display: inline-block;
  position: relative;
  z-index: 1;
  top: -30px;
  left: -15px;
}

.workshop .workshop-image::after {
  content: '';
  display: block;
  background-color: #f8e71c;
  width: 100%;
  height: 98%;
  position: absolute;
  top: 25px;
  left: none;
  right: -18px;
  z-index: -1;
}

.discover-image {
  min-width: 480px;
  display: inline-block;
  position: relative;
  z-index: 1;
  bottom: -40px;
}

.discover-image::after {
  content: '';
  display: block;
  background-color: #f8e71c;
  width: 100%;
  height: 98%;
  position: absolute;
  top: 25px;
  left: -18px;
  right: none;
  z-index: -1;
}

.workshop-text,
.discovery-text {
  width: 80%;
}

.discover-workshop img {
  width: 150%;
}

.discover-workshop p {
  padding: 30px 0;
}

.selling-points {
  background-color: #f0efed;
  padding: 140px 0 30px;
}

.selling-points ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.selling-points ul li.selling-point {
  width: 40%;
  margin: 15px 0;
}

.selling-point i {
  position: relative;
  top: 30px;
  left: -60px;
  background-color: #f8e71c;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selling-point p {
  margin: 18px 0 40px;
}

.founder-banner {
  min-height: 50vh;
  background-image: url("../assets/banner-image.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.founder {
  background-color: #f0efed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.founder .founder-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 100px 0 100px;
}

.founder .founder-container .founder-img {
  margin-bottom: 40px;
  margin-right: 40px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.founder .founder-container .founder-img::after {
  content: '';
  display: block;
  background-color: #f8e71c;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: none;
  right: -20px;
  z-index: -1;
}

.founder-text {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  text-align: left;
}

.founder-text p {
  margin: 25px 0 45px;
}

.founder-text .fom-button {
  margin: 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px auto;
}

.gallery ul li {
  width: calc(33% - 20px);
  margin: 0 10px;
}

.gallery ul li:first-child {
  margin-left: 0px;
}

.gallery ul li:last-child {
  margin-right: 0px;
}

footer {
  min-height: 50px;
  background-color: #2c2c2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  clear: both;
}

.blog-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main {
  background-color: #f0efed;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-posts {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(100% / 3);
  max-width: 430px;
  height: 100%;
  margin: 100px 50px;
}

.about-posts h3 {
  margin: 30px 0 10px;
}

.about-posts-text {
  padding: 25px;
}

.about-posts-text p {
  padding-left: 2px;
  padding-bottom: 20px;
}

.about-image {
  width: 150%;
  display: inline-block;
  position: relative;
  top: -20px;
  right: 100px;
}

.mission-comments-form {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
  top: -230px;
  right: 15px;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-left: 5px solid #f8e71c;
  width: 90%;
}

.mission-image {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: -15px;
  right: -10px;
}

.mission-image::after {
  content: '';
  display: block;
  background-color: #f8e71c;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  left: -13px;
  right: none;
  z-index: -1;
}

.mission-text {
  width: 90%;
  padding: 60px 20px 25px 60px;
  border-bottom: 5px solid #f8e71c;
}

.mission-text p {
  padding: 15px 0;
}

.mission-text p:first-of-type {
  padding: 0 0 30px;
}

.mission-text h2 {
  padding: 15px 0 0;
}

.comments {
  width: 80%;
  margin-top: 70px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 65px;
}

.comments li {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comments li .comment-text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding: 0 0px 0 0;
}

.comments img {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 0 30px 20px 0;
}

.comments h3 {
  margin-bottom: 30px;
}

.blog-form {
  width: 100%;
  margin-bottom: -220px;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

fieldset .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 20px;
}

fieldset .name-email .user {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

label {
  padding-left: 30px;
}

input[type='text'] {
  width: 100%;
  min-width: 200px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #0e902d;
}

textarea {
  background-color: transparent;
  border: 0;
  border: 2px solid #0e902d;
  resize: none;
  padding: 50px 30px;
  margin: 10px 0;
  max-height: 30vh;
}

button {
  padding: 12px 0 8px;
  margin: 40px 0;
}

.con-main {
  background-color: #f0efed;
}

.con-main .con {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info {
  width: 25%;
  margin: 50px 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials li {
  padding-right: 25px;
}

.contact-email {
  display: inline-block;
  padding: 20px 0 20px 2px;
}

.address span {
  display: block;
}

.contact-form {
  width: 75%;
  margin: -50px 0;
}

.contact-form .fieldset-container {
  position: relative;
  z-index: 1;
  top: -210px;
  right: -50px;
}

.contact-form .fieldset-container .user {
  padding-bottom: 20px;
}

.shadow-box-form {
  background-color: #fff;
  padding: 50px 60px 20px;
}

.shadow-box-form::after {
  content: '';
  display: block;
  background-color: #f8e71c;
  width: 100%;
  height: 98%;
  position: absolute;
  top: 30px;
  left: -20px;
  right: none;
  z-index: -1;
}

@media (max-width: 1100px) {
  .blog-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-main .about-posts {
    display: none;
  }
  .mission-comments-form {
    top: -80px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comments {
    padding: 0;
  }
  .comments li .comment-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .blog-form {
    margin: 0;
    width: 100%;
    margin-bottom: -100px;
  }
}

@media (max-width: 920px) {
  .layered-background {
    background-position: center bottom;
  }
  .layered-background .home-planted-container {
    width: 100%;
    padding: 0 10px;
  }
  .layered-background .home-planted-container h1 {
    text-align: left;
    padding-left: 20px;
  }
  .aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aside .half {
    width: 80%;
  }
  .aside .half .left {
    margin: 70px 0 30px;
  }
  .con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form {
    margin: 0;
    width: 90%;
  }
  .contact-form .fieldset-container {
    top: -50px;
    right: 0;
  }
  .contact-form .fieldset-container .shadow-box-form {
    padding: 20px 60px;
    margin-bottom: 0;
  }
}
